[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
pypi = "*"
ipython = "*"
django-postgres-copy = "*"
environ = "*"
django-autocomplete-light = "*"
django = "*"
zappa = "*"
django-s3-storage = "*"
pyyaml = ">=4.2b1"

[dev-packages]

[requires]
python_version = "3.6"
