[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
pypi = "*"
ipython = "*"
django-postgres-copy = "*"
environ = "*"
django-autocomplete-light = "*"
django = "*"
zappa = "*"
django-s3-storage = "*"

[dev-packages]

[requires]
python_version = "3.6"
